@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

* {
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background : url(../images/page-bg.jpg) no-repeat center ;
    background-size: cover;	
    background-position : bottom right;
}

img {
    width: 100%;
}

/* SideBar */

#toggle-icon, #menu-close {
    display: none;
}

#menu {
    background-color: #a43f49;
    min-width: 45px;
    max-width: 80vw;

    max-height: 100vh;
    position: fixed;
    text-align: center;

    margin: 0 auto;

    width: 20%;
    left: 10%;
    box-sizing: border-box;
}

/* sidebar image */

#menu .image {
    margin-top: 60px;
}

#menu .image img {
    border-radius: 50%;
    width: auto;
    height: auto;

    text-align:center
}

#author {
    position: relative;
}

#menu .sidebar-title span {
    font-style: italic;
    font-size: 13px;
}

#menu .sidebar-title {
    margin: 40px 0;
}


#menu .sidebar-title h4 {
    margin-bottom: 0px;
}

/* sidebar nav */

ul {
    padding-inline-start: 0px;
}

li > a {
    text-decoration: none !important;
}

li > a:hover {
    text-decoration:none;
    cursor:pointer;
}

.main-nav, .menu {
    text-align: center;
}

.main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: white;
    width: 100%;
    border-top: 2px solid white;
    transition: all 1s;
}

.main-nav li {
    display: block;
}

.main-nav li:hover a,
.main-nav li.active a {
    background-color: white;
    color: #a43f49;
}

/* icons network */

#menu .icons-network ul li {
    display: inline-block;
    margin: 0 2px;
}

#menu .icons-network ul li a {
    display: inline-block;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}

/* corpyright */

#menu .copyright {
    margin-top: 60px;
}

#menu .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* menu close tag */

#menu-close {
    color: #a43f49;
    background-color: white;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/* all sections */

.section {
    color: white;
    position: relative;
    width: 50%;
    left: 35%;
    min-height: 100vh;

    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.section-head {
    text-align: center;
    padding: 80px 40px;
}

.title-section {
    font-size: 30px;
    font-weight: 700;
}

.line {
    width: 60px;
    height: 3px;
    background-color: #a43f49;
    margin: 10px auto;
}

.white-button a {
    display: inline-block;
    background-color: white;
    color: #a43f49;
    font-size: 12px;
    font-weight: 800;
    padding: 10px 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    transition: all 0.5s; 
}

.white-button a:hover {
    color: white;
    background-color: #a43f49;
}

/* first section */

.left-image img,
.right-image img {
    border-radius: 5px;
}

.left-image h4,
.right-image h4 {
    margin-top: 30px;
}

.left-image-post p,
.right-image-post p {
    margin-top: 20px;
}

.left-image-post, .white-button,
.right-image-post .white-button {
    margin-top: 30px;
}

.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);

    padding-bottom: 80px;
}

.left-text,
.right-text {
    margin-top: 50px;
}

/* second section */

.block-animate {
    width: 450px;
    height: 350px;

    padding: 50px;
    margin-bottom: 20px;

    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;

}

.block-animate > h4 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.block-animate:hover .title-block {
    color: black;
}

.block-animate > p {
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 25px;
}

.block-animate:hover .p-block {
    color: grey;
    font-weight: 500;
}

.block-animate:hover {
    background-color: rgb(255, 255, 255);
}

.img-1 {
    background-image: url(../images/first-white-icon.png);
}

.block-animate:hover .img-1 {
    background-image: url(../images/first-main-icon.png);
}

.img-2 {
    background-image: url(../images/second-white-icon.png);
}

.block-animate:hover .img-2 {
    background-image: url(../images/second-main-icon.png);
}

.img-3 {
    background-image: url(../images/third-white-icon.png);
}

.block-animate:hover .img-3 {
    background-image: url(../images/third-main-icon.png);
}

.img-4 {
    background-image: url(../images/fourth-white-icon.png);
}

.block-animate:hover .img-4 {
    background-image: url(../images/fourth-main-icon.png);
}

.img-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: auto;
    height: auto;

    margin-bottom: 45px;
}

/* third section layout */

figure > img {
    border-radius: 5px;
}

figure {
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.isotope-box {
    position: relative;
    width: 100%;
}

.isotope-toolbar {
    text-align: center;
    margin: 10px;
}

.isotope-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}

.isotop-toolbar {
    text-align: center;
    margin: 0px;
}

.isotop-toolbar > label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: default;
}

.isotope-toolbar input[type="radio"] {
    display: none;
}

.isotope-toolbar span {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transform: ease-in-out 0.5s;
    cursor: pointer;
}

.isotope-toolbar input[type="radio"]:checked + span {
    color: #a43f49;
    border-bottom: 2px solid #a43f49;
}

/* Contact me */


section.contact-me {
    border-bottom: none;
}

#contact input {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact input:focus {
    outline: none;
    box-shadow: none;
}

#contact textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact textarea:focus {
    outline: none;
    box-shadow: none;
}

#contact {
    text-align: center;
}

.ctct-btn {
    display: inline-block;
    background-color: white;
    color: #a43f49;
    font-size: 12px;
    font-weight: 800;
    padding: 10px 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    transition: all 0.5s; 
}

.ctct-btn:hover {
    color: white;
    background-color: #a43f49;
}

/* Arrow Up */

#arrow {
    background-image: url(../images/arrow-up.png);
    background-size: cover;	
    background-repeat: no-repeat;
    background-position : bottom right;

    display: none;

    position: fixed;
    bottom: 50px;
    right: 70px;
    z-index: 99;
   
    padding: 15px;
   
}


